openapi: 3.0.3
info:
  title: NVA Cristin Proxy API
  description: >
    The NVA Cristin Proxy API.

      This API provides transformed Cristin data stored in [Cristin](https://api.cristin.no/v2).

      The data is reformatted as JSON-LD with a schema defined in the [search ontology](https://bibsysdev.github.io/src/search-ontology.ttl), the [Organization ontology](https://bibsysdev.github.io/src/organization-ontology.ttl) and the [project ontology](https://bibsysdev.github.io/src/publication-channel-ontology.ttl).

      To understand the semantic layer, take a look at the @context URI returned by the API, the data is marked up according to this and may be interpreted directly to RDF using this.
  termsOfService: http://nva.unit.no/terms/
  contact:
    email: nva@unit.no
  license:
    name: MIT/NLOD 2.0
    url: https://link.to.license
  version: 1.0.0
externalDocs:
  description: Find out more about NVA
  url: https://nva.unit.no
servers:
  - url: https://api.nva.unit.no/cristin
  - url: https://api.dev.nva.aws.unit.no/cristin
  - url: https://api.sandbox.nva.aws.unit.no/cristin
  - url: https://api.test.nva.aws.unit.no/cristin
paths:
  /project:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinProjectsFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Project
      summary: List projects matching query
      description: Returns a list of projects based on query parameters
      operationId: ListProjects
      parameters:
        - name: query
          in: query
          description: Search string. Either title search or grant id search
          required: true
          schema:
            type: string
            pattern: '.+'
          example: 'Helse'
        - name: language
          in: query
          description: Preferred language for some fields
          required: false
          schema:
            $ref: '#/components/schemas/LanguageParam'
          example: 'nb'
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '5'
          example: '10'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    post:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinCreateProjectsFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Project
      summary: Create and persist project
      description: Create and persist project in Cristin
      operationId: CreateProject
      security:
        - CognitoUserPool: [ ]
      requestBody:
        description: Payload containing valid project data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPost'
            examples:
              objectExample:
                $ref: '#/components/examples/ProjectPostExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ProjectPost'
            examples:
              objectExample:
                $ref: '#/components/examples/ProjectPostExample'

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /project/{id}:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinOneProjectFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Project
      summary: Find project by ID
      description: Returns a single project matching id parameter
      operationId: GetProjectById
      parameters:
        - name: id
          in: path
          description: ID of project to return
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '495216'
        - name: language
          in: query
          description: Preferred language for some fields
          required: false
          schema:
            $ref: '#/components/schemas/LanguageParam'
          example: 'nb'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /organization:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinQueryOrganizationFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Organization
      summary: List organizations matching query
      description: Returns a list of organizations based on query parameters
      operationId: ListOrganizations
      parameters:
        - name: query
          in: query
          description: Search for organization by name
          required: false
          schema:
            type: string
            pattern: '.+'
          example: 'Universitetet i Nesna'
        - name: depth
          in: query
          description: Depth of sub-organizations included in response
          required: false
          schema:
            type: string
            enum:
              - full
              - top
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '10'
          example: '10'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizations'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organizations'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationsExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /organization/{identifier}:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchOrganizationFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Organization
      summary: Fetch Organization by identifier
      description: Returns a single Organization matching identifier parameter
      operationId: GetOrganizationByIdentifier
      parameters:
        - name: identifier
          in: path
          description: Identifier of Organization to return
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '495216'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinQueryPersonFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: List persons matching query
      description: Returns a list of persons based on query parameters
      operationId: ListPersons
      parameters:
        - name: query
          in: query
          description: Search string. First name and/or last name
          required: true
          schema:
            type: string
            pattern: '.+'
          example: 'Ola Nordmann'
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '5'
          example: '10'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Persons'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Persons'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonsExample'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    post:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinCreatePersonFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Create one person
      description: Creates one person matching supplied payload
      operationId: PostPerson
      security:
        - CognitoUserPool: [ ]
      requestBody:
        description: Payload containing names and identifier
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonPost'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonPostExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PersonPost'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonPostExample'
      responses:
        201:
          description: Successful creation of resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonPostResponse'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonPostResponseExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PersonPostResponse'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonPostResponseExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPersonFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Find person by identifier
      description: Returns a single person matching id parameter
      operationId: GetPersonById
      security:
        - CognitoUserPool: [ ]
      parameters:
        - name: id
          in: path
          description: ID of person to return
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '359084'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/identityNumber:
    post:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPersonUsingNinFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Query person by national identity number
      description: Returns a single person matching nin query parameter
      operationId: GetPersonByNIN
      security:
        - CognitoUserPool: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonNIN'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonNinExample'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}/organization/{orgId}:
    parameters:
      - name: id
        in: path
        description: Identifier of Person
        required: true
        schema:
          type: string
          pattern: '^[0-9]+$'
        example: '359084'
      - name: orgId
        in: path
        description: Identifier of Organization. Sub unit will be converted to parent institution
        required: true
        schema:
          type: string
          pattern: '^[0-9.]+$'
        example: '185'
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPersonInstitutionInfoFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Fetch person organization info by identifiers
      description: Returns person information at organization matching identifier parameters
      operationId: GetPersonOrganizationInfoByIdentifiers
      security:
        - CognitoUserPool: [ ]
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonOrganizationInfo'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonOrganizationInfoExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PersonOrganizationInfo'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonOrganizationInfoExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    patch:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinUpdatePersonInstitutionInfoFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Update person organization info by identifiers
      description: Updates person email and phone information at given organization
      operationId: UpdatePersonInstitutionInfo
      security:
        - CognitoUserPool: [ ]
      requestBody:
        description: Payload containing one or more optional fields email and phone. Fields can be set to null to erase content
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonInstInfoPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonInstInfoPatchExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PersonInstInfoPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonInstInfoPatchExample'
      responses:
        204:
          description: Successful update of resource
          content:
            application/json:
              schema:
                type: string
                example: '{}'
            application/ld+json:
              schema:
                type: string
                example: '{}'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}/employment:
    parameters:
      - name: id
        in: path
        description: Identifier of Person
        required: true
        schema:
          type: string
          pattern: '^[0-9]+$'
        example: '359084'
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinQueryPersonEmploymentFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Fetch person employments by identifier
      description: Returns all person employments
      operationId: GetPersonEmploymentsByIdentifier
      security:
        - CognitoUserPool: [ ]
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonEmployment'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonEmploymentExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PersonEmployment'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonEmploymentExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /position:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPositionFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
        tags:
          - Position
      summary: Fetch position codes
      description: Returns postion codes for affiliations
      operationId: GetPositionCodes
      parameters:
        - name: active
          in: query
          description: Fetch only active position codes
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionCodes'
              examples:
                objectExample:
                  $ref: '#/components/examples/PositionCodesSample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PositionCodes'
              examples:
                objectExample:
                  $ref: '#/components/examples/PositionCodesSample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'

components:
  responses:
    400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    403:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    500:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    502:
      description: Bad Gateway from upstream
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Projects:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of projects returned by the query
          items:
            $ref: '#/components/schemas/Project'
    Project:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        type:
          type: string
          pattern: 'Project'
          description: The type of the returned object, always Project
        identifiers:
          type: array
          description: Identifiers for this project
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'CristinIdentifier'
                description: Name of identifier, always CristinIdentifier
              value:
                type: integer
                format: int32
                description: Cristin ID of project
        title:
          type: string
          pattern: '.+'
          description: Title of the project
        language:
          type: string
          pattern: '^http:\/\/lexvo.org\/id\/iso639-3\/[a-z]{3}$'
          description: The lexvo URI for the language of the Project
        alternativeTitles:
          type: array
          description: Titles in alternative languages
          items:
            $ref: '#/components/schemas/Languages'
        startDate:
          type: string
          pattern: '.+'
          description: Project start date
        endDate:
          type: string
          pattern: '.+'
          description: Project end date
        coordinatingInstitution:
          $ref: '#/components/schemas/Organization'
        funding:
          type: array
          description: Fundings of this project
          items:
            $ref: '#/components/schemas/Funding'
        contributors:
          type: array
          description: List of contributors on the project
          items:
            type: object
            description: One contributor
            properties:
              type:
                type: string
                enum:
                  - ProjectManager
                  - ProjectParticipant
                description: Type of contributor. Can be ProjectManager or ProjectParticipant
              identity:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Id'
                  type:
                    type: string
                    pattern: 'Person'
                    description: Type of identity. Always Person
                  firstName:
                    type: string
                    pattern: '.+'
                    description: First name
                  lastName:
                    type: string
                    pattern: '.+'
                    description: Last name
              affiliation:
                $ref: '#/components/schemas/Organization'
        status:
          type: string
          enum:
            - NOTSTARTED
            - ACTIVE
            - CONCLUDED
          description: Project status, based on start_date and end_date.
        academicSummary:
          $ref: '#/components/schemas/Languages'
        popularScientificSummary:
          $ref: '#/components/schemas/Languages'
    ProjectPost:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        type:
          type: string
          pattern: 'Project'
          description: The type of the returned object, always Project
        title:
          type: string
          pattern: '.+'
          description: Title of the project
        language:
          type: string
          pattern: '^http:\/\/lexvo.org\/id\/iso639-3\/[a-z]{3}$'
          description: The lexvo URI for the language of the Project
        alternativeTitles:
          type: array
          description: Titles in alternative languages
          items:
            $ref: '#/components/schemas/Languages'
        startDate:
          type: string
          pattern: '.+'
          description: Project start date
          example: '2012-01-09T00:00:00.001Z'
        endDate:
          type: string
          pattern: '.+'
          description: Project end date
          example: '2018-01-09T00:00:00.001Z'
        coordinatingInstitution:
          $ref: '#/components/schemas/Organization'
        contributors:
          type: array
          description: List of contributors on the project
          items:
            type: object
            description: One contributor
            properties:
              type:
                type: string
                enum:
                  - ProjectManager
                  - ProjectParticipant
                description: Type of contributor. Can be ProjectManager or ProjectParticipant
              identity:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Id'
                  type:
                    type: string
                    pattern: 'Person'
                    description: Type of identity. Always Person
              affiliation:
                $ref: '#/components/schemas/Organization'
        status:
          type: string
          enum:
            - NOTSTARTED
            - ACTIVE
            - CONCLUDED
          description: Project status, based on start_date and end_date.
        academicSummary:
          $ref: '#/components/schemas/Languages'
        popularScientificSummary:
          $ref: '#/components/schemas/Languages'
    Problem:
      type: object
      properties:
        title:
          type: string
          description: Human-readable description of the error status
        status:
          type: integer
          format: int32
          description: The HTTP status code associated with the problem
        detail:
          type: string
          description: A more detailed error message describing the error and potential mitigations
        requestId:
          type: string
          description: Unique id for the request
    LanguageParam:
      type: string
      enum:
        - nb
        - nn
        - en
      default: 'nb'
    Context:
      type: string
      pattern: 'https:\/\/.*$'
      description: The JSON-LD context object for the data, which describes the object in the data and allows machine processing of the data at a semantic level
    Id:
      type: string
      pattern: 'https:\/\/.*$'
      description: The URI of the object ID
    Languages:
      type: object
      pattern: '^[a-z]{2}$'
      additionalProperties:
        type: string
        pattern: '.+'
    Organizations:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of organizations returned by the query
          items:
            $ref: '#/components/schemas/Organization'
    Organization:
      type: object
      description: Affiliated organization
      properties:
        id:
          $ref: '#/components/schemas/Id'
        type:
          type: string
          pattern: 'Organization'
          description: Always Organization
        name:
          type: array
          items:
            $ref: '#/components/schemas/Languages'
        acronym:
          type: string
          pattern: '.*'
          description: 'Short mnemonic identifying Organization'
        partOf:
          description: List of Organizations this organization is part of
          type: array
          items:
            type: object
            properties:
              organization:
                $ref: '#/components/schemas/Organization'
    Funding:
      type: object
      description: Funding
      properties:
        code:
          type: string
        type:
          type: string
          pattern: 'Funding'
          description: Always Funding
        source:
          $ref: '#/components/schemas/FundingSource'
    FundingSource:
      type: object
      description: Funding source
      properties:
        type:
          type: string
          pattern: 'FundingSource'
          description: Always FundingSource
        names:
          $ref: '#/components/schemas/Languages'
        code:
          type: string
    Persons:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of persons returned by the query
          items:
            $ref: '#/components/schemas/Person'
    Person:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        type:
          type: string
          pattern: 'Person'
          description: The type of the returned object, always Person
        identifiers:
          type: array
          description: Identifiers for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'CristinIdentifier|ORCID'
                description: Name of identifier
              value:
                type: string
                pattern: '\d+|\d{4}-\d{4}-\d{4}-\d{4}'
                description: Value of identifier
        names:
          type: array
          description: Names for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'PreferredFirstName|PreferredLastName|FirstName|LastName'
                description: Name of identifier
              value:
                type: string
                pattern: '.+'
                description: Value of identifier
        contactDetails:
          type: object
          description: Contact information
          properties:
            telephone:
              type: string
              pattern: '\+?\d+'
        image:
          $ref: '#/components/schemas/Id'
        affiliations:
          type: array
          description: The list of person affiliations
          items:
            $ref: '#/components/schemas/Affiliation'
    PersonPost:
      type: object
      required: [ identifiers, names ]
      properties:
        identifiers:
          type: array
          description: Identifier for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'NationalIdentificationNumber'
                description: Name of identifier
              value:
                type: string
                pattern: '[0-9]{11}'
                description: Value of identifier
        names:
          type: array
          description: Names for this person. Required fields are FirstName and LastName
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'PreferredFirstName|PreferredLastName|FirstName|LastName'
                description: Name of identifier
              value:
                type: string
                pattern: '.+'
                description: Value of identifier
    PersonPostResponse:
      type: object
      properties:
        identifiers:
          type: array
          description: Identifiers for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'CristinIdentifier'
                description: Name of identifier
              value:
                type: string
                pattern: '\d+'
                description: Value of identifier
        names:
          type: array
          description: Names for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'PreferredFirstName|PreferredLastName|FirstName|LastName'
                description: Name of identifier
              value:
                type: string
                pattern: '.+'
                description: Value of identifier
    PersonNIN:
      type: object
      properties:
        type:
          type: string
          description: The type of the object
        value:
          type: string
          description: String representing the value of the object
    Affiliation:
      type: object
      description: Person affiliation
      properties:
        type:
          type: string
          pattern: 'Affiliation'
          description: Always Affiliation
        organization:
          $ref: '#/components/schemas/Id'
        active:
          type: boolean
          description: Person has active affiliation
        role:
          type: object
          description: Person's role at affiliated organization
          properties:
            id:
              $ref: '#/components/schemas/Id'
            type:
              type: string
              pattern: 'Role'
              description: Always Role
            labels:
              $ref: '#/components/schemas/Languages'
    PersonOrganizationInfo:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        email:
          type: string
          description: Email at this organization
        phone:
          type: string
          description: Phone at this organization
    PersonInstInfoPatch:
      type: object
      properties:
        phone:
          type: string
          description: Phone number at this institution
        email:
          type: string
          description: Email address at this institution
    PositionCodes:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        positions:
          type: array
          description: The list of position codes returned by the service
          items:
            $ref: '#/components/schemas/PositionCode'
    PositionCode:
      type: object
      properties:
        id:
          type: string
        name:
          type: array
          description: Titles in alternative languages
          items:
            $ref: '#/components/schemas/Languages'
        enabled:
          type: boolean
    PersonEmployment:
      type: object
      properties:
        identifier:
          type: string
          description: Person identifier

  examples:
    ProjectsExample:
      value:
        '@context': 'https://bibsysdev.github.io/src/project-search-context.json'
        id: 'https://api.dev.nva.aws.unit.no/cristin/project?query=helse&language=nb&page=1&results=5'
        size: 150
        searchString: 'query=helse&language=nb&page=1&results=5'
        processingTime: 800
        firstRecord: 1
        nextResults: 'https://api.dev.nva.aws.unit.no/cristin/project?query=helse&language=nb&page=2&results=5'
        previousResults: ''
        hits:
          - id: 'https://api.dev.nva.aws.unit.no/cristin/project/359084'
            type: 'Project'
            identifiers:
              - type: 'CristinIdentifier'
                value: '359084'
            title: 'Example Title'
            language: 'http://lexvo.org/id/iso639-3/nno'
            alternativeTitles:
              - 'nb': 'Eksempel på tittel'
            startDate: '2012-01-09T00:00:00Z'
            endDate: '2017-12-31T00:00:00Z'
            funding:
              - type: 'Funding'
                source:
                  type: "FundingSource"
                  names:
                    nb: "Egen institusjon"
                  code: "EI"
                code: "1234556"
            coordinatingInstitution:
              id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
              type: 'Organization'
              name:
                'nb': 'OsloMet - storbyuniversitetet'
            contributors:
              - type: 'ProjectManager'
                identity:
                  id: 'https://api.dev.nva.aws.unit.no/cristin/person/325953'
                  type: 'Person'
                  firstName: 'Ola'
                  lastName: 'Nordmann'
                affiliation:
                  id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
                  type: 'Organization'
                  name:
                    'nb': 'OsloMet - storbyuniversitetet'
              - type: 'ProjectParticipant'
                identity:
                  id: 'https://api.dev.nva.aws.unit.no/cristin/person/326035'
                  type: 'Person'
                  firstName: 'Kari'
                  lastName: 'Olsen'
                affiliation:
                  id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
                  type: 'Organization'
                  name:
                    'nb': 'OsloMet - storbyuniversitetet'
            status: CONCLUDED
            academicSummary:
              no: "Jeg arbeider med å skrive en bok, med foreløpig tittel, Digitale bilder. "
            popularScientificSummary:
              no: "<p>FoU-prosjektet skal fremme forskningsbasert undervisning i digitale medier knyttet til Faglærerutdanningen i formgiving, kunst og håndverk på Institutt for estetiske fag."
    ProjectExample:
      value:
        '@context': 'https://bibsysdev.github.io/src/project-context.json'
        id: 'https://api.dev.nva.aws.unit.no/cristin/project/359084'
        type: 'Project'
        identifiers:
          - type: 'CristinIdentifier'
            value: '359084'
        title: 'Example Title'
        language: 'http://lexvo.org/id/iso639-3/nno'
        alternativeTitles:
          - 'nb': 'Eksempel på tittel'
        startDate: '2012-01-09T00:00:00Z'
        endDate: '2017-12-31T00:00:00Z'
        funding:
          - type: 'Funding'
            source:
              type: "FundingSource"
              names:
                nb: "Egen institusjon"
              code: "EI"
            code: "134455"
        coordinatingInstitution:
          id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
          type: 'Organization'
          name:
            'nb': 'OsloMet - storbyuniversitetet'
        contributors:
          - type: 'ProjectManager'
            identity:
              id: 'https://api.dev.nva.aws.unit.no/cristin/person/325953'
              type: 'Person'
              firstName: 'Ola'
              lastName: 'Nordmann'
            affiliation:
              id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
              type: 'Organization'
              name:
                'nb': 'OsloMet - storbyuniversitetet'
          - type: 'ProjectParticipant'
            identity:
              id: 'https://api.dev.nva.aws.unit.no/cristin/person/326035'
              type: 'Person'
              firstName: 'Kari'
              lastName: 'Olsen'
            affiliation:
              id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
              type: 'Organization'
              name:
                'nb': 'OsloMet - storbyuniversitetet'
        status: CONCLUDED
        academicSummary:
          en: "Summary in an academic manner"
        popularScientificSummary:
          en: "popularScientificSummary popularScientificSummary popularScientificSummary"
    ProjectPostExample:
      value:
        '@context': 'https://bibsysdev.github.io/src/project-context.json'
        type: 'Project'
        title: 'Example Title'
        language: 'http://lexvo.org/id/iso639-3/nno'
        alternativeTitles:
          - 'nb': 'Eksempel på tittel'
        startDate: '2012-01-09T00:00:00.001Z'
        endDate: '2017-12-31T00:00:00.001Z'
        coordinatingInstitution:
          type: 'Organization'
          id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
        contributors:
          - type: 'ProjectManager'
            identity:
              type: 'Person'
              id: 'https://api.dev.nva.aws.unit.no/cristin/person/325953'
            affiliation:
              type: 'Organization'
              id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
          - type: 'ProjectParticipant'
            identity:
              type: 'Person'
              id: 'https://api.dev.nva.aws.unit.no/cristin/person/326035'
            affiliation:
              type: 'Organization'
              id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
        status: CONCLUDED
        academicSummary:
          en: "Summary in an academic manner"
        popularScientificSummary:
          en: "popularScientificSummary popularScientificSummary popularScientificSummary"
    OrganizationsExample:
      value:
        # TODO: Change context in code. Below is what it currently is now
        '@context': 'https://api.dev.nva.aws.unit.no/cristin/organization'
        id: 'https://api.dev.nva.aws.unit.no/cristin/organization?depth=top&query=storby&page=1&results=5'
        size: 150
        searchString: 'depth=top&query=storby&page=1&results=5'
        processingTime: 800
        firstRecord: 1
        nextResults: 'https://api.dev.nva.aws.unit.no/cristin/organization?depth=top&query=storby&page=2&results=5'
        previousResults: ''
        hits:
          # TODO: Add hasPart, partOf
          organization:
            id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
            type: 'Organization'
            name:
              'nb': 'OsloMet - storbyuniversitetet'
              'en': 'Oslomet - Oslo Metropolitan University'
            acronym: 'OSLOMET'
    OrganizationExample:
      value:
        # TODO: Change context in code. Below is what it currently is now
        '@context': 'https://api.dev.nva.aws.unit.no/cristin/organization'
        id: 'https://api.dev.nva.aws.unit.no/cristin/organization/215.0.0.0'
        type: 'Organization'
        name:
          'nb': 'OsloMet - storbyuniversitetet'
          'en': 'Oslomet - Oslo Metropolitan University'
        acronym: 'OSLOMET'
    PersonsExample:
      value:
        '@context': 'https://example.org/person-search-context.json'
        id: 'https://api.dev.nva.aws.unit.no/cristin/person/?query=Ola+Nordmann&page=1&results=5'
        size: 150
        searchString: 'query=Ola+Nordmann&page=1&results=5'
        processingTime: 800
        firstRecord: 1
        nextResults: 'https://api.dev.nva.aws.unit.no/cristin/person/?query=Ola+Nordmann&page=2&results=5'
        previousResults: ''
        hits:
          - id: 'https://api.dev.nva.aws.unit.no/cristin/person/359084'
            type: 'Person'
            identifiers:
              - type: 'CristinIdentifier'
                value: '359084'
              - type: 'ORCID'
                value: '1234-1234-1234-1234'
            names:
              - type: 'PreferredFirstName'
                value: 'Ola'
              - type: 'PreferredLastName'
                value: 'Nordmann'
              - type: 'FirstName'
                value: 'Kjell Ola'
              - type: 'LastName'
                value: 'Nordmann'
            contactDetails:
              telephone: '+4799885566'
            image: 'https://api.cristin.no/v2/persons/359084/picture'
            affiliations:
              - type: 'Affiliation'
                organization: 'https://api.dev.nva.aws.unit.no/cristin/organization/185.11.0.0'
                active: true
                role:
                  id: 'https://example.org/link/to/ontology#1026'
                  type: 'Role'
                  labels:
                    en: 'Researcher'
                    nb: 'Forsker'
                    nn: 'Forskar'
              - type: 'Affiliation'
                organization: 'https://api.dev.nva.aws.unit.no/cristin/organization/185.90.0.0'
                active: true
                role:
                  id: 'https://example.org/link/to/ontology#1026'
                  type: 'Role'
                  labels:
                    en: 'Head Engineer'
                    nb: 'Overingeniør'
          - id: 'https://api.dev.nva.aws.unit.no/cristin/person/567987'
            type: 'Person'
            identifiers:
              - type: 'CristinIdentifier'
                value: '567987'
            names:
              - type: 'FirstName'
                value: 'Kjetil'
              - type: 'LastName'
                value: 'Nordmann'
            contactDetails:
              telephone: '+4744335566'
            affiliations:
              - type: 'Affiliation'
                organization: 'https://api.dev.nva.aws.unit.no/cristin/organization/185.90.0.0'
                active: true
                role:
                  id: 'https://example.org/link/to/ontology#1026'
                  type: 'Role'
                  labels:
                    en: 'Consultant'
    PersonExample:
      value:
        '@context': 'https://example.org/person-context.json'
        id: 'https://api.dev.nva.aws.unit.no/cristin/person/359084'
        type: 'Person'
        identifiers:
          - type: 'CristinIdentifier'
            value: '359084'
          - type: 'ORCID'
            value: '1234-1234-1234-1234'
        names:
          - type: 'PreferredFirstName'
            value: 'Ola'
          - type: 'PreferredLastName'
            value: 'Nordmann'
          - type: 'FirstName'
            value: 'Kjell Ola'
          - type: 'LastName'
            value: 'Nordmann'
        contactDetails:
          telephone: '+4799885566'
        image: 'https://api.cristin.no/v2/persons/359084/picture'
        affiliations:
          - type: 'Affiliation'
            organization: 'https://api.dev.nva.aws.unit.no/cristin/organization/185.11.0.0'
            active: true
            role:
              id: 'https://example.org/link/to/ontology#1026'
              type: 'Role'
              labels:
                en: 'Researcher'
                nb: 'Forsker'
                nn: 'Forskar'
          - type: 'Affiliation'
            organization: 'https://api.dev.nva.aws.unit.no/cristin/organization/185.90.0.0'
            active: true
            role:
              id: 'https://example.org/link/to/ontology#1026'
              type: 'Role'
              labels:
                en: 'Head Engineer'
                nb: 'Overingeniør'
    PersonPostExample:
      value:
        identifiers:
          - type: 'NationalIdentificationNumber'
            value: '12345612345'
        names:
          - type: 'PreferredFirstName'
            value: 'Ola'
          - type: 'PreferredLastName'
            value: 'Nordmann'
          - type: 'FirstName'
            value: 'Kjell Ola'
          - type: 'LastName'
            value: 'Nordmann'
    PersonPostResponseExample:
      value:
        '@context': 'https://example.org/person-context.json'
        id: 'https://api.dev.nva.aws.unit.no/cristin/person/359084'
        type: 'Person'
        identifiers:
          - type: 'CristinIdentifier'
            value: '359084'
        names:
          - type: 'PreferredFirstName'
            value: 'Ola'
          - type: 'PreferredLastName'
            value: 'Nordmann'
          - type: 'FirstName'
            value: 'Kjell Ola'
          - type: 'LastName'
            value: 'Nordmann'
    PersonOrganizationInfoExample:
      value:
        '@context': 'https://ontology.org'
        id: 'https://api.dev.nva.aws.unit.no/cristin/person/359084/organization/185'
        email: 'email@example.com'
        phone: '+4799112233'
    PersonNinExample:
      value:
        type: 'NationalIdentificationNumber'
        value: '2102193712345'
    PersonInstInfoPatchExample:
      value:
        phone: '+4799112233'
        email: 'mail@example.com'
    PositionCodesSample:
      value:
        "@context": "https://bibsysdev.github.io/src/position-context.json"
        positions:
          - id: "https://api.{env.}nva.aws.unit.no/positions#9308"
            name:
              nb: Overstyrmann
            enabled: false
          - id: "https://api.{env.}nva.aws.unit.no/positions#VITRÅDGIVER"
            name:
              en: Academic adviser
            enabled: true
    PersonEmploymentExample:
      value:
        identifier: '359084'
  securitySchemes:
    CognitoUserPool:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - Ref:
              CognitoAuthorizerArn
