openapi: 3.0.3
info:
  title: NVA Cristin Proxy API
  description: This API provides transformed Cristin data stored in [Cristin](https://api.cristin.no/v2).
  termsOfService: https://nva.unit.no/terms/
  contact:
    email: nva@unit.no
  license:
    name: MIT/NLOD 2.0
    url: https://link.to.license
  version: 1.0.0
externalDocs:
  description: Find out more about NVA
  url: https://nva.unit.no
servers:
  - url: https://api.nva.unit.no/cristin
  - url: https://api.dev.nva.aws.unit.no/cristin
  - url: https://api.sandbox.nva.aws.unit.no/cristin
  - url: https://api.test.nva.aws.unit.no/cristin
paths:
  /project:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinProjectsFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Project
      summary: List projects matching query
      description: Returns a list of projects based on query parameters
      operationId: ListProjects
      parameters:
        - name: query
          in: query
          description: Search string. Either title search or grant id search
          required: false
          schema:
            type: string
            pattern: '.+'
          example: 'Helse'
        - name: organization
          in: query
          description: Search projects by organization id.
          required: false
          schema:
            type: string
            pattern: '.+'
          example: 'https://api.dev.nva.aws.unit.no/cristin/organization/20202.0.0.0'
        - name: status
          in: query
          description: Search for project with status
          required: false
          schema:
            type: string
            enum:
            - ACTIVE
            - CONCLUDED
            - NOTSTARTED
            example: 'active'
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '5'
          example: '10'
        - name: institution
          in: query
          description: Cristin id, acronym, name, or part of the name of the coordinating institution
          required: false
          schema:
            type: string
        - name: project_manager
          in: query
          description: Cristin id, name or part of the name of the project manager.
          required: false
          schema:
            type: string
        - name: participant
          in: query
          description: Cristin id, name or part of the name of a participant of the project. 'participant' can be used more than once.
          required: false
          schema:
            type: string
        - name: keyword
          in: query
          description: Keyword search. '?keyword=wind energy' makes a search for projects with keywords equal to or a substring of 'wind energy'. keyword can be used more than once
          required: false
          schema:
            type: string
        - name: approval_reference_id
          in: query
          description: Reference id of a project approval.
          required: false
          schema:
            type: string
        - name: funding_source
          in: query
          description: Funding source code.
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sorts on 'start_date' and/or 'end_date'. See Search and sort. Default sort order is on 'cristin_project_id' in ascending order.
          required: false
          schema:
            type: string
            enum:
              - start_date
              - end_date
        - name: unit
          in: query
          description: Unit id
          required: false
          schema:
            type: string
        - name: user
          in: query
          description: A person's username in Cristin together with the institution id separated by ':'
          required: false
          schema:
            type: string
        - name: approved_by
          in: query
          description: Code for the authority that evaluated a project approval.
          required: false
          schema:
            type: string
        - name: funding
          in: query
          description: Funding source code e.g. NFR, and project_code together separated by ':'
          required: false
          schema:
            type: string
        - name: levels
          in: query
          description: How many levels down from 'parent_unit_id' will be included in the search.'levels=1' will return projects registered to 'parent_unit_id'. 'levels' can also be used by itself to search for all projects registered to a known cristin unit down to the given level.
          required: false
          schema:
            type: string
        - name: modified_since
          in: query
          description: Only projects that have been modified since this date will be returned. Format YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: biobank
          in: query
          description: Biobank id. 'biobank' can be used more than once.
          required: false
          schema:
            type: string
        - name: creator
          in: query
          description: Creator identifier
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: Project category
          required: false
          schema:
            type: string
        - name: grantId
          in: query
          description: Project funding identifier
          required: false
          schema:
            type: number
        - name: project_code
          in: query
          description: Project funding identifier. Same as grantId
          required: false
          schema:
            type: number
        - name: cristinId
          in: query
          description: Project identifier in Cristin
          required: false
          schema:
            type: number
        - name: categoryFacet
          in: query
          description: Narrow down on project category. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: 'APPLIEDRESEARCH'
        - name: coordinatingFacet
          in: query
          description: Narrow down on coordinating organization. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: '185.90.0.0'
        - name: fundingSourceFacet
          in: query
          description: Narrow down on funding source. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: 'NFR'
        - name: healthProjectFacet
          in: query
          description: Narrow down on health project. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: 'DRUGSTUDY'
        - name: participantFacet
          in: query
          description: Narrow down on participant. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: '1234'
        - name: participantOrgFacet
          in: query
          description: Narrow down on participant organization. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: '185'
        - name: responsibleFacet
          in: query
          description: Narrow down on responsible organization. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: '185.90.0.0'
        - name: sectorFacet
          in: query
          description: Narrow down on sector. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: 'UC'
        - name: Accept
          in: header
          description: Requested response format and version of the returned payload
          required: false
          schema:
            type: string
          examples:
            versionOne:
              value: application/json; version=1
              description: Version 1 of the Api
            version20231103WithAggregations:
              value: application/json; version=2023-11-03-aggregations
              description: Version with search facets. Header value also accepts version=[2023-11-03, aggregations]
            versionOneJsonLd:
              value: application/ld+json; version=1
              description: Version 1 of the Api
            version20231103WithAggregationsJsonLd:
              value: application/ld+json; version=2023-11-03-aggregations
              description: Version with search facets. Header value also accepts version=[2023-11-03, aggregations]
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
            application/json; version=2023-11-03-aggregations:
              schema:
                $ref: '#/components/schemas/ProjectsWithFacets'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsWithFacetsExample'
            application/ld+json; version=2023-11-03-aggregations:
              schema:
                $ref: '#/components/schemas/ProjectsWithFacets'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsWithFacetsExample'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    post:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinCreateProjectsFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Project
      summary: Create and persist project
      description: Create and persist project in Cristin
      operationId: CreateProject
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        description: Payload containing valid project data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPost'
            examples:
              objectExample:
                $ref: '#/components/examples/ProjectPostExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ProjectPost'
            examples:
              objectExample:
                $ref: '#/components/examples/ProjectPostExample'

      responses:
        201:
          description: Successful creation of project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Projects'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectsExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /project/{identifier}:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinOneProjectFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Project
      summary: Find project by Identifier
      description: Returns a single project matching identifier parameter
      operationId: GetProjectByidentifier
      parameters:
        - name: identifier
          in: path
          description: Identifier of project to return
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '495216'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                objectExample:
                  $ref: '#/components/examples/ProjectExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    patch:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinUpdateProjectFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Project
      summary: Update project matching identifier. Only allowed for project creator or manager
      description: Updates project data
      operationId: UpdateProject
      parameters:
        - name: identifier
          in: path
          description: Identifier of project to return
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '495216'
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        description: Payload containing modifiable data for project
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/ProjectPatchExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ProjectPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/ProjectPatchExample'
      responses:
        204:
          description: Successful update of resource
          content:
            application/json:
              schema:
                type: string
            application/ld+json:
              schema:
                type: string
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /organization:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinQueryOrganizationFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Organization
      summary: List organizations matching query
      description: Returns a list of organizations based on query parameters
      operationId: ListOrganizations
      parameters:
        - name: query
          in: query
          description: Search for organization by name
          required: false
          schema:
            type: string
            pattern: '.+'
          example: 'Universitetet i'
        - name: depth
          in: query
          description: Depth of sub-organizations included in response
          required: false
          schema:
            type: string
            enum:
              - full
              - top
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '1'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '10'
          example: '10'
        - name: Accept
          in: header
          description: Requested response format and version of the returned payload
          examples:
            versionOne:
              value: application/json; version=1
              description: Version 1 of the Api
            version20230526:
              value: application/json; version=2023-05-26
              description: Version 2023-05-26 of the Api
            versionOneJsonLd:
              value: application/ld+json; version=1
              description: Version 1 of the Api
            version20230526JsonLd:
              value: application/ld+json; version=2023-05-26
              description: Version 2023-05-26 of the Api
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizations'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organizations'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationsExample'
            application/json; version=2023-05-26:
              schema:
                $ref: '#/components/schemas/Organizations'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationsExample'
            application/ld+json; version=2023-05-26:
              schema:
                $ref: '#/components/schemas/Organizations'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationsExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /organization/{identifier}:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchOrganization.Arn}/invocations
        httpMethod: POST
        requestParameters:
          integration.request.path.identifier:
            'method.request.path.identifier'
          integration.request.querystring.depth:
            'method.request.querystring.depth'
          integration.request.header.Accept:
            'method.request.header.Accept'
        cacheKeyParameters:
          - 'method.request.path.identifier'
          - 'method.request.querystring.depth'
          - 'method.request.header.Accept'
        type: "AWS_PROXY"
      tags:
        - Organization
      summary: Fetch Organization by identifier
      description: Returns a single Organization matching identifier parameter
      operationId: GetOrganizationByIdentifier
      parameters:
        - name: identifier
          in: path
          description: Identifier of Organization to return
          required: true
          schema:
            type: string
            pattern: '^(?:[0-9]+\.){3}[0-9]{1,3}$'
            example: '20202.0.0.0'
        - name: depth
          in: query
          description: Depth of sub-organizations included in response
          required: false
          schema:
            type: string
            enum:
              - none
        - name: Accept
          in: header
          description: Requested response format and version of the returned payload
          examples:
            versionOne:
              value: application/json; version=1
              description: Version 1 of the Api
            version20230526:
              value: application/json; version=2023-05-26
              description: Version 2023-05-26 of the Api
            versionOneJsonLd:
              value: application/ld+json; version=1
              description: Version 1 of the Api
            version20230526JsonLd:
              value: application/ld+json; version=2023-05-26
              description: Version 2023-05-26 of the Api
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationExample'
            application/json; version=2023-05-26:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationExample'
            application/ld+json; version=2023-05-26:
              schema:
                $ref: '#/components/schemas/Organization'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'

  /organization/{identifier}/persons:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinListOrganizationPersonsFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Organization
      summary: Fetch Persons associated with an given organization
      description: Returns a list of persons belonging to specified organization
      operationId: GetPersonsByOrganization
      parameters:
        - name: identifier
          in: path
          description: Identifier of Organization to return
          required: true
          schema:
            type: string
            pattern: '^(?:[0-9]+\.){3}[0-9]{1,3}$'
            example: '20202.0.0.0'
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '5'
          example: '10'
        - name: name
          in: query
          description: filter on given name
          required: false
          schema:
            type: string
          example: 'daniel'
        - name: sort
          in: query
          description: Sort results based on parameters
          required: false
          schema:
            type: string
          examples:
            identifierDesc:
              value: 'id desc'
            identifierAsc:
              value: 'id asc'
            nameDesc:
              value: 'name desc'
            nameAsc:
              value: 'name asc'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPersons'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationPersonsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/OrganizationPersons'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationPersonsExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /organization/{identifier}/projects:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinListOrganizationProjectsFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Organization
      summary: Fetch Projects associated with an given organization
      description: Returns a list of projects belonging to specified organization
      operationId: GetProjectsByOrganization
      parameters:
        - name: identifier
          in: path
          description: Identifier of Organization to return
          required: true
          schema:
            type: string
            pattern: '^(?:[0-9]+\.){3}[0-9]{1,3}$'
            example: '20202.0.0.0'
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '5'
          example: '10'
        - name: institution
          in: query
          description: Cristin id, acronym, name, or part of the name of the coordinating institution
          required: false
          schema:
            type: string
        - name: project_manager
          in: query
          description: Cristin id, name or part of the name of the project manager.
          required: false
          schema:
            type: string
        - name: participant
          in: query
          description: Cristin id, name or part of the name of a participant of the project. 'participant' can be used more than once.
          required: false
          schema:
            type: string
        - name: keyword
          in: query
          description: Keyword search. '?keyword=wind energy' makes a search for projects with keywords equal to or a substring of 'wind energy'. keyword can be used more than once
          required: false
          schema:
            type: string
        - name: approval_reference_id
          in: query
          description: Reference id of a project approval.
          required: false
          schema:
            type: string
        - name: funding_source
          in: query
          description: Funding source code.
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Sorts on 'start_date' and/or 'end_date'. See Search and sort. Default sort order is on 'cristin_project_id' in ascending order.
          required: false
          schema:
            type: string
        - name: unit
          in: query
          description: Unit id
          required: false
          schema:
            type: string
        - name: user
          in: query
          description: A person's username in Cristin together with the institution id separated by ':'
          required: false
          schema:
            type: string
        - name: approved_by
          in: query
          description: Code for the authority that evaluated a project approval.
          required: false
          schema:
            type: string
        - name: funding
          in: query
          description: Funding source code e.g. NFR, and project_code together separated by ':'
          required: false
          schema:
            type: string
        - name: levels
          in: query
          description: How many levels down from 'parent_unit_id' will be included in the search.'levels=1' will return projects registered to 'parent_unit_id'. 'levels' can also be used by itself to search for all projects registered to a known cristin unit down to the given level.
          required: false
          schema:
            type: string
        - name: modified_since
          in: query
          description: Only projects that have been modified since this date will be returned. Format YYYY-MM-DD
          required: false
          schema:
            type: string
        - name: biobank
          in: query
          description: Biobank id. 'biobank' can be used more than once.
          required: false
          schema:
            type: string
        - name: creator
          in: query
          description: Creator identifier
          required: false
          schema:
            type: string
        - name: grantId
          in: query
          description: Project funding identifier
          required: false
          schema:
            type: number
        - name: project_code
          in: query
          description: Project funding identifier. Same as grantId
          required: false
          schema:
            type: number
        - name: cristinId
          in: query
          description: Project identifier in Cristin
          required: false
          schema:
            type: number
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationProjects'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationProjectsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/OrganizationProjects'
              examples:
                objectExample:
                  $ref: '#/components/examples/OrganizationProjectsExample'
        400:
          $ref: '#/components/responses/400'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'

  /person:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinQueryPersonFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: List persons matching query parameters
      description: Returns a list of persons based on query parameters
      operationId: ListPersons
      parameters:
        - name: name
          in: query
          description: Search string. First name and/or last name
          required: true
          schema:
            type: string
            pattern: '.+'
          example: 'Ola Nordmann'
        - name: organization
          in: query
          description: Search string. Parts of organization name or identifier
          required: false
          schema:
            type: string
            pattern: '.+'
          example: 'Universitetet i Tromsø'
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '5'
          example: '10'
        - name: verified
          in: query
          description: Verified or not verified persons
          required: false
          schema:
            type: boolean
        - name: sectorFacet
          in: query
          description: Narrow down to sector. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: 'UC'
        - name: organizationFacet
          in: query
          description: Narrow down to organization. Works only for version 2023-11-03-aggregations
          required: false
          schema:
            type: string
          example: 'uio'
        - name: Accept
          in: header
          description: Requested response format and version of the returned payload
          required: false
          schema:
            type: string
          examples:
            versionOne:
              value: application/json; version=1
              description: Version 1 of the Api
            version20231103WithAggregations:
              value: application/json; version=2023-11-03-aggregations
              description: Version with search aggregations. Header value also accepts version=[2023-11-03, aggregations]
            versionOneJsonLd:
              value: application/ld+json; version=1
              description: Version 1 of the Api
            version20231103WithAggregationsJsonLd:
              value: application/ld+json; version=2023-11-03-aggregations
              description: Version with search aggregations. Header value also accepts version=[2023-11-03, aggregations]
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Persons'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Persons'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonsExample'
            application/json; version=2023-11-03-aggregations:
              schema:
                $ref: '#/components/schemas/PersonsWithFacets'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonsWithFacetsExample'
            application/ld+json; version=2023-11-03-aggregations:
              schema:
                $ref: '#/components/schemas/PersonsWithFacets'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonsWithFacetsExample'
        400:
          $ref: '#/components/responses/400'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    post:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinCreatePersonFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Create one person
      description: Creates one person matching supplied payload
      operationId: PostPerson
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        description: Payload containing names and identifier
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonPost'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonPostExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PersonPost'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonPostExample'
      responses:
        201:
          description: Successful creation of resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonPostResponse'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonPostResponseExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PersonPostResponse'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonPostResponseExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}:
    parameters:
      - name: id
        in: path
        description: Identifier of person. Can either be Cristin identifier or Orcid
        required: true
        schema:
          type: string
          pattern: '^[0-9]+$|[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{3}[0-9|Xx]'
        example: '359084'
      - name: Accept
        in: header
        description: Requested response format and version of the returned payload
        examples:
          applicationJson:
            value: application/json
            description: application/json
          applicationLdPlusJson:
            value: application/ld+json
            description: application/ld+json
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer token authorization that can allow exposure of national identity number
        required: false
        schema:
          type: string
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPersonFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Find person by identifier
      description: Returns a single person matching id parameter without NIN
      operationId: GetPersonById
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    patch:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinUpdatePersonFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Update person matching identifier
      description: Updates person data
      operationId: UpdatePerson
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        description: Payload containing modifiable data for person
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonPatchExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PersonPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonPatchExample'
      responses:
        204:
          description: Successful update of resource
          content:
            application/json:
              schema:
                type: string
                example: '{}'
            application/ld+json:
              schema:
                type: string
                example: '{}'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/identityNumber:
    post:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPersonUsingNin.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Query person by national identity number
      description: Returns a single person matching nin query parameter
      operationId: GetPersonByNIN
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonNIN'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonNinExample'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}/organization/{orgId}:
    parameters:
      - name: id
        in: path
        description: Identifier of Person
        required: true
        schema:
          type: string
          pattern: '^[0-9]+$'
        example: '538786'
      - name: orgId
        in: path
        description: Identifier of Organization. Sub unit will be converted to parent institution
        required: true
        schema:
          type: string
          pattern: '^[0-9.]+$'
        example: '186.32.15.0'
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPersonInstitutionInfoFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Fetch person organization info by identifiers
      description: Returns person information at organization matching identifier parameters
      operationId: GetPersonOrganizationInfoByIdentifiers
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonOrganizationInfo'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonOrganizationInfoExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PersonOrganizationInfo'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonOrganizationInfoExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    patch:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinUpdatePersonInstitutionInfoFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Update person organization info by identifiers
      description: Updates person email and phone information at given organization
      operationId: UpdatePersonInstitutionInfo
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        description: Payload containing one or more optional fields email and phone. Fields can be set to null to erase content
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonInstInfoPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonInstInfoPatchExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PersonInstInfoPatch'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonInstInfoPatchExample'
      responses:
        204:
          description: Successful update of resource
          content:
            application/json:
              schema:
                type: string
                example: '{}'
            application/ld+json:
              schema:
                type: string
                example: '{}'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}/employment:
    parameters:
      - name: id
        in: path
        description: Identifier of Person
        required: true
        schema:
          type: string
          pattern: '^[0-9]+$'
        example: '359084'
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinQueryPersonEmploymentFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Query person employments by identifier
      description: Returns all person employments
      operationId: GetPersonEmploymentsByIdentifier
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonEmploymentQuery'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonEmploymentQueryExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PersonEmploymentQuery'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonEmploymentQueryExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    post:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinCreatePersonEmploymentFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Create one person employment
      description: Creates one person employment matching supplied payload
      operationId: PostPersonEmployment
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        description: Payload containing employment information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonEmployment'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonEmploymentExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PersonEmployment'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonEmploymentExample'
      responses:
        201:
          description: Successful creation of resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonEmployment'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonEmploymentExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PersonEmployment'
              examples:
                objectExample:
                  $ref: '#/components/examples/PersonEmploymentExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}/employment/{employmentId}:
    parameters:
      - name: id
        in: path
        description: Identifier of Person
        required: true
        schema:
          type: string
          pattern: '^[0-9]+$'
        example: '359084'
      - name: employmentId
        in: path
        description: Identifier of employment
        required: true
        schema:
          type: string
          pattern: '^[0-9]+$'
        example: '49272'
    delete:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinDeletePersonEmploymentFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Delete person employment by identifier
      description: Delete person employment by identifier
      operationId: DeletePersonEmploymentsByIdentifier
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      responses:
        204:
          description: successful operation
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    patch:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinUpdatePersonEmploymentFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Update person employment by identifiers
      description: Updates person employment data
      operationId: UpdatePersonEmployment
      security:
        - CognitoUserPool: ['https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin']
      requestBody:
        description: Payload containing modifiable data for person employment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonEmployment'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonEmploymentExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PersonEmployment'
            examples:
              objectExample:
                $ref: '#/components/examples/PersonEmploymentExample'
      responses:
        204:
          description: Successful update of resource
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /person/{id}/picture:
    parameters:
      - name: id
        in: path
        description: Identifier of person. Must match a valid Cristin identifier
        required: true
        schema:
          type: string
        example: '359084'
    put:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinUpdatePersonPictureFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Update person profile picture
      description: Updates person profile picture
      operationId: UpdatePersonPicture
      security:
        - CognitoUserPool: [ 'https://api.nva.unit.no/scopes/backend', 'https://api.nva.unit.no/scopes/frontend','aws.cognito.signin.user.admin' ]
      requestBody:
        description: Payload containing base64 encoded binary image. Max size of image is currently 1024kb and must be a jpeg image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Binary'
            examples:
              objectExample:
                $ref: '#/components/examples/BinaryExample'
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Binary'
            examples:
              objectExample:
                $ref: '#/components/examples/BinaryExample'
      responses:
        204:
          description: Successful update of resource
          content:
            application/json:
              schema:
                type: string
            application/ld+json:
              schema:
                type: string
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPersonPictureFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Person
      summary: Fetch person profile picture
      description: Retrieves person profile picture in base64 format which contains mimetype image/jpeg
      operationId: FetchPersonPicture
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Binary'
              examples:
                objectExample:
                  $ref: '#/components/examples/BinaryExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Binary'
              examples:
                objectExample:
                  $ref: '#/components/examples/BinaryExample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'

  /position:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchPositionFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Position
      summary: Fetch position codes
      description: Returns postion codes for affiliations
      operationId: GetPositionCodes
      parameters:
        - name: active
          in: query
          description: Fetch only active position codes
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionCodes'
              examples:
                objectExample:
                  $ref: '#/components/examples/PositionCodesSample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PositionCodes'
              examples:
                objectExample:
                  $ref: '#/components/examples/PositionCodesSample'
        400:
          $ref: '#/components/responses/400'
        401:
          $ref: '#/components/responses/401'
        403:
          $ref: '#/components/responses/403'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /funding-sources:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinListFundingSourcesFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - FundingSources
      summary: List funding sources
      description: Returns all support funding sources
      operationId: ListFundingSources
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSources'
              examples:
                objectExample:
                  $ref: '#/components/examples/FundingSourcesSample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/FundingSources'
              examples:
                objectExample:
                  $ref: '#/components/examples/FundingSourcesSample'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /funding-sources/{identifier}:
    parameters:
      - name: identifier
        in: path
        description: Identifier of funding source
        required: true
        schema:
          type: string
        example: 'NFR'
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchFundingSourceFunction.Arn}/invocations
        httpMethod: POST
        requestParameters:
          integration.request.path.identifier:
            'method.request.path.identifier'
        cacheKeyParameters:
          - 'method.request.path.identifier'
        type: "AWS_PROXY"
      tags:
        - FundingSource
      summary: Fetch a funding source by identifier
      description: Returns the funding source with the given identifier
      operationId: FetchFundingSource
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourceNew'
              examples:
                objectExample:
                  $ref: '#/components/examples/FundingSourceNewSample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/FundingSourceNew'
              examples:
                objectExample:
                  $ref: '#/components/examples/FundingSourceNewSample'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'

  /biobank/{identifier}:
    parameters:
      - name: identifier
        in: path
        description: Identifier of biobank
        required: true
        schema:
          type: string
        example: '1234567'
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinFetchBiobankFunction.Arn}/invocations
        httpMethod: POST
        requestParameters:
          integration.request.path.identifier:
            'method.request.path.identifier'
        cacheKeyParameters:
          - 'method.request.path.identifier'
        type: "AWS_PROXY"
      tags:
        - Biobank
      summary: Fetch a biobank by identifier
      description: Returns the biobank with the given identifier
      operationId: FetchBiobank
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiobankNew'
              examples:
                objectExample:
                  $ref: '#/components/examples/BiobankExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/BiobankNew'
              examples:
                objectExample:
                  $ref: '#/components/examples/BiobankExample'
        404:
          $ref: '#/components/responses/404'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
  /keyword:
    get:
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${NvaCristinQueryKeywordFunction.Arn}/invocations
        httpMethod: POST
        type: "AWS_PROXY"
      tags:
        - Keywords
      summary: Query keywords
      description: Returns paginated list of keywords
      operationId: QueryKeywords
      parameters:
        - name: query
          in: query
          description: Search string for matching keywords
          required: false
          schema:
            type: string
            pattern: '.+'
          example: 'Biology'
        - name: page
          in: query
          description: Current page requested
          required: false
          schema:
            type: number
            default: '1'
          example: '3'
        - name: results
          in: query
          description: Results per page
          required: false
          schema:
            type: number
            default: '100'
          example: '5'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Keywords'
              examples:
                objectExample:
                  $ref: '#/components/examples/KeywordsExample'
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Keywords'
              examples:
                objectExample:
                  $ref: '#/components/examples/KeywordsExample'
        500:
          $ref: '#/components/responses/500'
        502:
          $ref: '#/components/responses/502'
        400:
          $ref: '#/components/responses/400'

components:
  responses:
    400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    401:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    403:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    404:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    500:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    502:
      description: Bad Gateway from upstream
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Projects:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of projects returned by the query
          items:
            $ref: '#/components/schemas/Project'
    ProjectsWithFacets:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of projects returned by the query
          items:
            $ref: '#/components/schemas/Project'
        aggregations:
          $ref: '#/components/schemas/Facets'
    Project:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        type:
          type: string
          pattern: 'Project'
          description: The type of the returned object, always Project
        identifiers:
          type: array
          description: Identifiers for this project
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'CristinIdentifier'
                description: Name of identifier, always CristinIdentifier
              value:
                type: integer
                format: int32
                description: Cristin ID of project
        title:
          type: string
          pattern: '.+'
          description: Title of the project
        language:
          type: string
          pattern: '^http:\/\/lexvo.org\/id\/iso639-3\/[a-z]{3}$'
          description: The lexvo URI for the language of the Project
        alternativeTitles:
          type: array
          description: Titles in alternative languages
          items:
            $ref: '#/components/schemas/Languages'
        startDate:
          type: string
          format: date-time
          description: Project start date
        endDate:
          type: string
          format: date-time
          description: Project end date
        coordinatingInstitution:
          $ref: '#/components/schemas/Organization'
        funding:
          type: array
          description: Fundings of this project
          items:
            $ref: '#/components/schemas/Funding'
        contributors:
          type: array
          description: List of contributors on the project
          items:
            type: object
            description: One contributor
            properties:
              type:
                type: string
                enum:
                  - ProjectManager
                  - ProjectParticipant
                  - LocalProjectManager
                description: Type of contributor.
              identity:
                $ref: '#/components/schemas/PersonSummary'
              affiliation:
                $ref: '#/components/schemas/Organization'
        status:
          type: string
          enum:
            - NOTSTARTED
            - ACTIVE
            - CONCLUDED
          description: Project status, based on start_date and end_date.
        academicSummary:
          $ref: '#/components/schemas/Languages'
        popularScientificSummary:
          $ref: '#/components/schemas/Languages'
        published:
          type: boolean
          description: If the project is published in Cristin
        publishable:
          type: boolean
          description: If the project has all fields mandatory for being published
        created:
          type: object
          properties:
            sourceShortName:
              type: string
              description: Short name of the source that created the project
            date:
              type: string
              format: date-time
              description: Date the project was created
        lastModified:
          type: object
          properties:
            sourceShortName:
              type: string
              description: Short name of the source that last modified the project
            date:
              type: string
              format: date-time
              description: Date the project was modified
        contactInfo:
          type: object
          properties:
            type:
              type: string
              pattern: 'ContactInfo'
              description: Type of object
            contactPerson:
              type: string
            organization:
              type: string
            email:
              type: string
            phone:
              type: string
        fundingAmount:
          type: object
          properties:
            type:
              type: string
              pattern: 'FundingAmount'
              description: Type of object
            currency:
              type: string
              description: Currency code. Currently only in NOK (Norwegian Kroner)
            value:
              type: number
        method:
          $ref: '#/components/schemas/Languages'
        equipment:
          $ref: '#/components/schemas/Languages'
        projectCategories:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: The type of project category
              label:
                $ref: '#/components/schemas/Languages'
        keywords:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: The keyword code
              label:
                $ref: '#/components/schemas/Languages'
        externalSources:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: The type of object. Here always ExternalSource
              identifier:
                type: string
                description: The source reference identifier as it is in upstream
              name:
                type: string
                description: The name of the source in short form
        relatedProjects:
          type: array
          items:
            type: string
            description: Uri to the related project
        institutionsResponsibleForResearch:
          type: array
          description: List of institutions responsible for research on the project
          items:
            $ref: '#/components/schemas/Organization'
        healthProjectData:
          type: object
          description: 'If project is related to health, this field will contain data'
          properties:
            type:
              type: string
              description: 'Health project classification. Drugstudy: Drug study (en), Legemiddelstudium (nb), Legemedelstudium (nn); Otherclin: Other clinical trial (en), Annet klinisk behandlingsstudium (nb), Anna klinisk behandlingsstudium (nn); Otherstudy: Other study (en), Annet studium (nb), Anna studium (nn).'
              enum:
                - Drugstudy
                - Otherclin
                - Otherstudy
            label:
              $ref: '#/components/schemas/Languages'
            clinicalTrialPhase:
              type: string
              description: 'Mandatory if type is Drugstudy.'
              enum:
                - PhaseI
                - PhaseII
                - PhaseIII
                - PhaseIV
        approvals:
          $ref: '#/components/schemas/Approvals'
        creator:
          type: object
          description: Project Creator
          properties:
            type:
              type: string
              description: Type. Always ProjectCreator
            identity:
              $ref: '#/components/schemas/PersonSummary'
            affiliation:
              $ref: '#/components/schemas/Organization'
        webPage:
          type: string
          format: uri
          description: Project webpage
    ProjectPost:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        type:
          type: string
          pattern: 'Project'
          description: The type of the returned object, always Project
        title:
          type: string
          pattern: '.+'
          description: Title of the project
        language:
          type: string
          pattern: '^http:\/\/lexvo.org\/id\/iso639-3\/[a-z]{3}$'
          description: The lexvo URI for the language of the Project
        alternativeTitles:
          type: array
          description: Titles in alternative languages
          items:
            $ref: '#/components/schemas/Languages'
        startDate:
          type: string
          format: date-time
          description: Project start date
          example: '2012-01-09T00:00:00.001Z'
        endDate:
          type: string
          format: date-time
          description: Project end date
          example: '2018-01-09T00:00:00.001Z'
        coordinatingInstitution:
          $ref: '#/components/schemas/Organization'
        contributors:
          type: array
          description: List of contributors on the project (ProjectManager is required and needs an identity)
          items:
            type: object
            description: One contributor
            properties:
              type:
                type: string
                enum:
                  - ProjectManager
                  - ProjectParticipant
                  - LocalProjectManager
                description: Type of contributor.
              identity:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Id'
                  type:
                    type: string
                    pattern: 'Person'
                    description: Type of identity. Always Person
                  firstName:
                    type: string
                    pattern: '.+'
                    description: First name (needed if identity is missing)
                  lastName:
                    type: string
                    pattern: '.+'
                    description: Last name (needed if identity is missing)
                  email:
                    type: string
                    pattern: '.*'
                    description: Email
                  phone:
                    type: string
                    pattern: '.*'
                    description: Phone number
              affiliation:
                $ref: '#/components/schemas/Organization'
        academicSummary:
          $ref: '#/components/schemas/Languages'
        popularScientificSummary:
          $ref: '#/components/schemas/Languages'
        method:
          $ref: '#/components/schemas/Languages'
        equipment:
          $ref: '#/components/schemas/Languages'
        institutionsResponsibleForResearch:
          type: array
          description: List of institutions responsible for research on the project
          items:
            $ref: '#/components/schemas/Organization'
        healthProjectData:
          type: object
          description: 'If project is related to health, this field will contain data'
          properties:
            type:
              type: string
              description: 'Health project classification. Drugstudy: Drug study (en), Legemiddelstudium (nb), Legemedelstudium (nn); Otherclin: Other clinical trial (en), Annet klinisk behandlingsstudium (nb), Anna klinisk behandlingsstudium (nn); Otherstudy: Other study (en), Annet studium (nb), Anna studium (nn).'
              enum:
                - Drugstudy
                - Otherclin
                - Otherstudy
            clinicalTrialPhase:
              type: string
              description: 'Mandatory if type is Drugstudy.'
              enum:
                - PhaseI
                - PhaseII
                - PhaseIII
                - PhaseIV
        approvals:
          $ref: '#/components/schemas/Approvals'
        funding:
          type: array
          description: Fundings for this project
          items:
            $ref: '#/components/schemas/FundingPostPatch'
        keywords:
          type: array
          description: Project keywords
          items:
            $ref: '#/components/schemas/TypedLabelPostPatch'
        projectCategories:
          type: array
          description: Project categories
          items:
            $ref: '#/components/schemas/TypedLabelPostPatch'
        relatedProjects:
          type: array
          items:
            type: string
            description: URI to the related project
        contactInfo:
          type: object
          properties:
            type:
              type: string
              pattern: 'ContactInfo'
              description: Always ContactInfo
            contactPerson:
              type: string
            organization:
              type: string
            email:
              type: string
            phone:
              type: string
        webPage:
          type: string
          format: uri
          description: Project webpage
    ProjectPatch:
      type: object
      properties:
        title:
          type: string
          pattern: '.+'
          description: Title of the project
        language:
          type: string
          pattern: '^http:\/\/lexvo.org\/id\/iso639-3\/[a-z]{3}$'
          description: The lexvo URI for the language of the Project
        alternativeTitles:
          type: array
          description: Titles in alternative languages
          items:
            $ref: '#/components/schemas/Languages'
        startDate:
          type: string
          format: date-time
          description: Project start date
          example: '2012-01-09T00:00:00.001Z'
        endDate:
          type: string
          format: date-time
          description: Project end date
          example: '2018-01-09T00:00:00.001Z'
        coordinatingInstitution:
          $ref: '#/components/schemas/Organization'
        contributors:
          type: array
          description: List of contributors on the project
          items:
            type: object
            description: One contributor
            properties:
              type:
                type: string
                enum:
                  - ProjectManager
                  - ProjectParticipant
                  - LocalProjectManager
                description: Type of contributor.
              identity:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Id'
                  type:
                    type: string
                    pattern: 'Person'
                    description: Type of identity. Always Person
              affiliation:
                $ref: '#/components/schemas/Organization'
        funding:
          type: array
          description: List of fundings for the project
          items:
            $ref: '#/components/schemas/FundingPostPatch'
        keywords:
          type: array
          items:
            $ref: '#/components/schemas/TypedLabelPostPatch'
        projectCategories:
          type: array
          items:
            $ref: '#/components/schemas/TypedLabelPostPatch'
        relatedProjects:
          type: array
          items:
            type: string
            description: URI or numeric value for the identifier of the related project
        academicSummary:
          $ref: '#/components/schemas/Languages'
        popularScientificSummary:
          $ref: '#/components/schemas/Languages'
        method:
          $ref: '#/components/schemas/Languages'
        equipment:
          $ref: '#/components/schemas/Languages'
        contactInfo:
          type: object
          properties:
            contactPerson:
              type: string
              description: Either text value or null to erase
            organization:
              type: string
              description: Either text value or null to erase
            email:
              type: string
              description: Either text value or null to erase
            phone:
              type: string
              description: Either text value or null to erase
        institutionsResponsibleForResearch:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
        webPage:
          type: string
          format: uri
          description: Project webpage
    Problem:
      type: object
      description: NVA error reporting object
      required:
        - title
        - detail
        - status
      properties:
        title:
          type: string
          description: Human-readable description of the error status
        detail:
          type: string
          description: A more detailed error message describing the error and potential mitigations
        status:
          type: integer
          description: The HTTP status code associated with the problem
        requestId:
          type: string
          description: Identifier of the request causing the problem
        instance:
          type: string
          description: The requested path associated with the error
        type:
          type: string
          description: A URI describing the error and mitigations, in generic cases, this is about:blank
    Context:
      type: string
      pattern: 'https:\/\/.*$'
      description: The JSON-LD context object for the data, which describes the object in the data and allows machine processing of the data at a semantic level
    Id:
      type: string
      pattern: 'https:\/\/.*$'
      description: The URI of the object ID
    Languages:
      type: object
      pattern: '^[a-z]{2}$'
      additionalProperties:
        type: string
        pattern: '.+'
    Organizations:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of organizations returned by the query
          items:
            $ref: '#/components/schemas/Organization'
    Organization:
      type: object
      description: Affiliated organization
      properties:
        id:
          $ref: '#/components/schemas/Id'
        type:
          type: string
          pattern: 'Organization'
          description: Always Organization
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Languages'
        acronym:
          type: string
          pattern: '.*'
          description: 'Short mnemonic identifying Organization'
        country:
          type: string
          description: Two letter country code (ISO 3166-1 alpha-2)
        partOf:
          description: List of Organizations this organization is part of
          type: array
          items:
            type: object
            properties:
              organization:
                $ref: '#/components/schemas/Organization'
        hasPart:
          description: List of Organizations that is part of this organization
          type: array
          items:
            type: object
            properties:
              organization:
                $ref: '#/components/schemas/Organization'
    Funding:
      type: object
      description: Funding
      properties:
        type:
          type: string
          pattern: 'UnconfirmedFunding'
          description: Always UnconfirmedFunding
        source:
          type: string
          description: The source of the funding formatted as an uri
          format: uri
        identifier:
          type: string
          description: The project code for the funding
        labels:
          $ref: '#/components/schemas/Languages'
    Approvals:
      type: array
      required: [ date, authority, status ]
      items:
        type: object
        properties:
          type:
            type: string
          date:
            type: string
            format: date-time
            description: 'Date of approval'
          authority:
            type: string
            description: 'Approval authority. Only certain combinations of authority and applicationCode are allowed. 
            RegionalEthicalCommittees: Regional committees for medical and health research ethics (en), 
            Regionale komitéer for medisinsk og helsefaglig forskningsetikk (REK) (nb), 
            Regionale komitéer for medisinsk og helsefaglig forskningsetikk (REK) (nn), 
            applicationCode: EthicalApproval or BioBank; 
            NorwegianAnimalResearchAuthority: The Norwegian Animal Research Authority (en), Forsøksdyrutvalget (nb), Forsøksdyrutvalet (nn), 
            applicationCode: AnimalTesting; 
            NorwegianDataProtectionAuthority: The Norwegian Data Protection Authority (en), Datatilsynet (nb), Datatilsynet (nn), 
            applicationCode: SensitiveInformation; 
            NorwegianMedicinesAgency: Norwegian Medicines Agency (en), Statens legemiddelverk (nb), Statens legemiddelverk (nn), 
            applicationCode: DrugTrial; 
            NorwegianDirectorateOfHealth: Norwegian Directorate of Health (en), Helsedirektoratet (nb), Helsedirektoratet (nn), 
            applicationCode: BioTechnology or MedicalEquipment.'
            enum:
              - RegionalEthicalCommittees
              - NorwegianAnimalResearchAuthority
              - NorwegianDataProtectionAuthority
              - NorwegianMedicinesAgency
              - NorwegianDirectorateOfHealth
          status:
            type: string
            description: 'Status of the application sent to the approval authority. 
            NOTAPPLIED: Not applied (en), Ikke søkt (nb), Ikkje søkt (nn); 
            APPLIED: Applied (en), Søkt (nb), Søkt (nn); 
            APPROVED: Approved (en), Godkjent (nb), Godkjent (nn); 
            DECLINED: Declined (en), Avvist (nb) Avvist (nn); 
            REJECTED: Rejected (en), Avslått (nb), Avslått (nn).'
            enum:
              - NotApplied
              - Applied
              - Approved
              - Declined
              - Rejected
          applicationCode:
            type: string
            description: 'These codes apply only for applications to the approval authorities. 
            Only certain combinations of applicationCode and authority are allowed, see authority above. 
            EthicalApproval: Application for ethical approval of a health research project (en), 
            Søknad om etisk godkjenning, Helseforskningsprosjekt (nb), Søknad om etisk godkjenning av helseforskingsprosjekt (nn); 
            BioBank: Application for establishing a biobank (en), Søknad om etablering av biobank (nb), 
            Søknad om etablering av biobank (nn); 
            DrugTrial: Application for a clinical drug trial (en), Søknad om legemiddelutprøving (nb), Søknad om legemiddelutprøving (nn); 
            BioTechnology: Application for medical use of biotechnology (en), Søknad om medisinsk bruk av bioteknologi (nb), 
            Søknad om medisinsk bruk av bioteknologi (nn); 
            MedicalEquipment: Application for clinical testing for medical equipment (en), 
            Søknad om klinisk utprøving av medisinsk utstyr (nb), Søknad om klinisk utprøving av medisinsk utstyr (nn); 
            AnimalTesting: Application for testing on animals (en), Søknad om å utføre forsøk på dyr (nb), 
            Søknad om å utføre forsøk på dyr (nn); 
            SensitiveInformation: Application for license tp process sensitive personal information (en), 
            Søknad om konsesjon for behandling av sensitive personopplysninger (nb), 
            Søknad om konsesjon for handsaming av sensitive personopplysingar(nn).'
            enum:
              - EthicalApproval
              - BioBank
              - DrugTrial
              - BioTechnology
              - MedicalEquipment
              - AnimalTesting
              - SensitiveInformation
          identifier:
            type: string
            description: 'Reference ID used by the approval authority for this approval.'
          authorityName:
            $ref: '#/components/schemas/Languages'
    FundingPostPatch:
      type: object
      description: Funding creation
      properties:
        source:
          type: string
          description: The source of the funding formatted as an uri or an alternative url encoded code
          format: uri
        identifier:
          type: string
          description: The project code for the funding
    TypedLabelPostPatch:
      type: object
      properties:
        type:
          type: string
          description: The type (code)
    Persons:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of persons returned by the query
          items:
            $ref: '#/components/schemas/Person'
    PersonsWithFacets:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        size:
          type: integer
          format: int32
          description: Number of results returned from query
        searchString:
          type: string
          description: The query string used
        processingTime:
          type: integer
          format: int32
          description: Processing time in milliseconds for the query to complete
        firstRecord:
          type: integer
          format: int32
          description: The first record in the current page
        nextResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the next page in the query results
        previousResults:
          type: string
          pattern: 'https:\/\/.*$'
          description: URI to the previous page in the query results
        hits:
          type: array
          description: The list of persons returned by the query
          items:
            $ref: '#/components/schemas/Person'
        aggregations:
          $ref: '#/components/schemas/Facets'
    Person:
      type: object
      properties:
        '@context':
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/Id'
        type:
          type: string
          pattern: 'Person'
          description: The type of the returned object, always Person
        identifiers:
          type: array
          description: Identifiers for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'CristinIdentifier|ORCID|NationalIdentificationNumber'
                description: Name of identifier
              value:
                type: string
                pattern: '\d+|\d{4}-\d{4}-\d{4}-\d{4}'
                description: Value of identifier
        names:
          type: array
          description: Names for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'PreferredFirstName|PreferredLastName|FirstName|LastName'
                description: Name of identifier
              value:
                type: string
                pattern: '.+'
                description: Value of identifier
        contactDetails:
          type: object
          description: Contact information
          properties:
            telephone:
              type: string
              pattern: '\+?\d+'
        image:
          $ref: '#/components/schemas/Id'
        affiliations:
          type: array
          description: The list of person affiliations
          items:
            $ref: '#/components/schemas/Affiliation'
        employments:
          type: array
          description: Employments for this person. Visible to authorized users
          items:
            $ref: '#/components/schemas/PersonEmployment'
        verified:
          type: boolean
          description: Whether we can document the existence of the person
        keywords:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: The keyword code
              label:
                $ref: '#/components/schemas/Languages'
        background:
          $ref: '#/components/schemas/Languages'
        nvi:
          type: object
          description: Person NVI data
          properties:
            verifiedBy:
              $ref: '#/components/schemas/PersonSummary'
            verifiedAt:
              $ref: '#/components/schemas/Organization'
            verifiedDate:
              type: string
              format: date-time
    PersonPost:
      type: object
      required: [ names ]
      properties:
        identifiers:
          type: array
          description: Identifier for this person
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'NationalIdentificationNumber'
                description: Name of identifier
              value:
                type: string
                pattern: '[0-9]{11}'
                description: Value of identifier
        names:
          type: array
          description: Names for this person. Required fields are FirstName and LastName
          items:
            type: object
            properties:
              type:
                type: string
                pattern: 'PreferredFirstName|PreferredLastName|FirstName|LastName'
                description: Name of identifier
              value:
                type: string
                pattern: '.+'
                description: Value of identifier
        employments:
          type: array
          description: Employments for this person
          items:
            $ref: '#/components/schemas/PersonEmployment'
        keywords:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
[...]
